---
export interface Props
{
    path: string;
    desc: string;
    type: string;
    title: string;
    anchor: string;
    delayTrans: string;
}

const {path = 'javascript:void(0)', desc, type, title, anchor, delayTrans} = Astro.props;

---

    <a href={anchor} class="image-anchor">
        <div class = "image-box">
            <img src={path}>
        </div>
    </a>

<style define:vars={{delayTrans}}>

    .image-anchor
    {
        text-decoration: none;
    }

    .image-box
    {
        animation: WTF 1s ease var(--delayTrans) forwards;
        opacity: 0;
        width:14vw;
        height: 14vw;
        background-color: transparent;
    }

    @media screen and (orientation:portrait) 
    { 
        .image-box
        {
        width:40vw;
        height:40vw;
        }
    }
    
    @keyframes WTF
    {
        0% {transform: translateY(40vw); opacity: 0;}
        100% {transform: translateY(0vw); opacity: 1;}
    }

    @keyframes FadeIn
    {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    .image-box img
    {
        transition: opacity 0.5s ease, transform 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
    }

    .image-anchor:hover .image-box img
    {
        transform: scale(1.05) rotate(5deg);
        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.4);
    }
    
</style>