---
export interface Props
{
    path: string;
    desc: string;
    type: string;
    title: string;
    anchor: string;
}

const {path = 'javascript:void(0)', desc, type, title, anchor} = Astro.props;

---

    <a href={anchor} class="image-anchor">
        <div class = "image-box">
            <img src={path}>
        </div>
    </a>

<style>

    .image-anchor
    {
        text-decoration: none;
    }

    .image-box
    {
        width:14vw;
        height: 14vw;
        background-color: transparent;
    }

    @media screen and (orientation:portrait) 
    { 
        .image-box
        {
        width:40vw;
        height:40vw;
        }
    }

    .image-box img
    {
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .image-anchor:hover .image-box img
    {
        opacity: 0.6;
    }
    
</style>