---
import { string } from "astro:schema";
import Layout from "../components/Layout.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
import graphicProjects from "../data/graphics.json";
import GraphicThumb from "../components/graphics/graphicThumb.astro";
---

<Layout>
    <div class="flex h-screen text-center" >
        <div class="m-auto">
            <h1>GALERIA</h1>

            <div id="img-track">

                {
                    graphicProjects.map((graphicProjects) => {
                        return  (
                                <GraphicThumb 
                                    title = {graphicProjects.title} 
                                    path = {graphicProjects.path} 
                                    desc = {graphicProjects.path} 
                                    type = {graphicProjects.type}
                                />
                                );
                    })
                }

            </div>
    </div>

</Layout>

<style>

    h1
    {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size:2vw;


    }

    #img-track
    {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        gap: 5px;
    }

</style>