---
import Layout from "../components/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout>

    <div class="flex h-screen text-center">
		<div class="m-auto flex flex-row justify-center content-center" id="wrapper1">
            <Card path="../graphics" cardName="G R A P H I C S" bg="/img/y2b.jpg"></Card>
            <Card transDelay="0.15s" path="../interfaces" cardName="I N T E R F A C E S" bg="/img/vexed.png"></Card>
            <Card transDelay="0.3s" path="https://www.dropbox.com/scl/fi/rbjsvodhpo9bbhzic83yd/CV-Edson-Cavalcanti.pdf?rlkey=eb7va1f930c5h3fbbklai2e35&st=54xvcvpe&dl=1" cardName="C U R R I C U L U M" bg="/img/frontend.avif"></Card>
        </div>
    </div>

</Layout>

<style>

@media screen and (orientation: portrait)
{

    #wrapper1
    {
        flex-direction: column;
    }

}

</style>
