---
import Layout from "../components/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout>

    <div class="flex h-screen text-center">
		<div class="m-auto flex flex-row justify-center content-center" id="wrapper1">
            <Card path="../graphics" cardName="G R A P H I C S" bg="/img/y2b.jpg"></Card>
            <Card transDelay="0.15s" path="https://edszon.netlify.app/projetos/css%20psi/index.html" cardName="I N T E R F A C E S (projeto exemplo)" bg="/img/vexed.png"></Card>
            <Card transDelay="0.3s" path="https://www.dropbox.com/scl/fi/cpgnnc8r84kmf3mmswuov/CV-Edson-Luiz-Cavalcanti-Neto.pdf?rlkey=tv30fjujbbv2ypi1l3h0nx2ap&st=glw54f0o&dl=1" cardName="F R O N T E N D" bg="/img/frontend.avif"></Card>
        </div>
    </div>

</Layout>

<style>

@media screen and (orientation: portrait)
{

    #wrapper1
    {
        flex-direction: column;
    }

}

</style>
