---
import Layout from "../components/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout>

    <div class="flex h-screen text-center">
		<div class="m-auto flex flex-row justify-center content-center" id="wrapper1">
            <Card path="../graphics" cardName="G R A P H I C S" bg="/img/y2b.jpg"></Card>
            <Card transDelay="0.15s" path="https://edszon.netlify.app/projetos/css%20psi/index.html" cardName="I N T E R F A C E S (projeto exemplo)" bg="/img/vexed.png"></Card>
            <Card transDelay="0.3s" path="https://www.dropbox.com/scl/fi/10djkfubw3e62tqbgz14i/CV-protected.pdf?rlkey=8rz3gk0yj64j2gqbojvsaqdtd&st=3x78jm3p&dl=1" cardName="C U R R I C U L U M" bg="/img/frontend.avif"></Card>
        </div>
    </div>

</Layout>

<style>

@media screen and (orientation: portrait)
{

    #wrapper1
    {
        flex-direction: column;
    }

}

</style>
