---
const {path = '#'} = Astro.props;
const {cardName = '#'} = Astro.props;
const {transDelay = '0s'} = Astro.props;
let {bg = "#"} = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<a href={path}>

    <div class="card">
        <h1>{cardName}</h1>
        <img src={bg}>
    </div>

</a>

<style define:vars={{bg, transDelay}}>

a
{
    display:block;
    overflow: hidden;
}

.card
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 35, 32);
    background-size: auto 100%;
    background-position: center;
    opacity: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:15px;
    transition: width 0.3s ease;
    position: relative;
    overflow: hidden;
}

.card img
{
    pointer-events: none;
    position: absolute;
    width: auto;
    height: 100%;
    object-fit: cover;
    opacity: 0.15;
    transition: opacity 1s ease;
}

.card h1
{
    color:rgb(235, 226, 213);
    z-index: 1;
    background-color:black;
}

@media screen and (orientation: landscape)
{
    .card
    {
        width:25vw;
        height:40vw;
        display:flex;
        opacity: 0;
        margin:0px 10px 0px 10px;
        animation: GoUp 0.75s ease;
        animation-fill-mode: forwards;
        animation-delay: var(--transDelay);
        overflow: hidden;
    }

    .card:hover
    {
        width:40vw;
    }

    .card:hover img
    {
        opacity: 0.5;
    }

    .card h1
    {
        padding:8px 12px 8px 12px;
        font-size:0.8vw;
        transition: transform 0.3s ease;
    }

    .card:hover h1
    {
        transform: scale(1.25);
    }

    @keyframes GoUp
    {
       0%{opacity: 0; transform: translateY(1000px);}
       100%{opacity: 1;}
    }
}

@media screen and (orientation: portrait)
{
    .card
    {

        width:60vw;
        height:60vw;
        margin:10px 0px 10px 0px;
        animation: GoLeft 0.75s ease;
        animation-fill-mode: forwards;
        animation-delay: var(--transDelay);
    }

    .card h1
    {
        padding: 4px 6px 4px 6px;
    }

    @keyframes GoLeft
    {
       0%{opacity: 0; transform: translateX(1000px);}
       100%{opacity: 1;}
    }
}

</style>
