---
import { ViewTransitions } from 'astro:transitions';
import NavIcon from "./NavIcon.astro"
import { fade } from 'astro:transitions';
---

<script is:inline data-astro-rerun>
    

        // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (localStorage.theme === 'dark') {
    document.documentElement.classList.add('dark')
    } else {
    document.documentElement.classList.remove('dark')
    }
    
    // Function to toggle between light and dark modes
    function toggleColorMode() {
            if (document.documentElement.classList.contains('dark')) {
                // Switch to light mode
                document.documentElement.classList.remove('dark');
                localStorage.setItem('theme', 'light');
            } else {
                // Switch to dark mode
                document.documentElement.classList.add('dark');
                localStorage.setItem('theme', 'dark');
            }
        }

        // Attach the toggle function to the button with ID 'themeToggle'
        document.addEventListener('DOMContentLoaded', function() {
            const themeToggleButton = document.getElementById('themeToggle');
            if (themeToggleButton) {
                themeToggleButton.addEventListener('click', toggleColorMode);
            }
        });

</script>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Edson Cavalcanti</title>
        <ViewTransitions />
	</head>

	<body>

        <header transition:persist class="fixed flex text-center w-full p-3">
            <NavIcon buttonID="home" path="/" iconName="mdi:house"></NavIcon>
            <NavIcon buttonID="themeToggle" iconName="solar:moon-bold"></NavIcon>
        </header>

        <main transition:animate={fade({duration: '0.4s'})}>
		    <slot />
        </main>

	</body>
</html>

<style is:global>

    html
    {
        top: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: rgb(235, 226, 213);
        transition: background-color 0.3s ease;
    }

    html.dark 
    {
        background-color: #16161b;
        color: #fff;
    }

    header
    {
        justify-content: right;
        align-items: center;
        z-index: 999;
        height: fit-content;
    }

    @media screen and (orientation: portrait)
    {
        header
        {
            bottom: 0;
        }
    } 

    .navButton
    {
        background-color: rgb(226, 212, 191);
        padding:5px;
        border-radius: 35px;
        margin:5px;
    }
    .dark .navButton
    {
        background-color: black;
    }

    .navButton:hover
    {
        transition: background-color 0.3s ease;
        background-color: rgb(199, 186, 169);
    }   

    .dark .navButton:hover
    {
        background-color: rgb(17, 17, 19);
    }

</style>