---
import { ViewTransitions } from 'astro:transitions';
import NavIcon from "./NavIcon.astro"
import { fade } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Edson Cavalcanti</title>
        <ViewTransitions />
	</head>

	<body>

        <header transition:persist class="fixed flex text-center w-full p-3">
            <NavIcon path="/" iconName="mdi:house"></NavIcon>
            <NavIcon path="#" iconName="solar:moon-bold"></NavIcon>
        </header>

        <main transition:animate={fade({duration: '0.4s'})}>
		    <slot />
        </main>

	</body>
</html>

<style>

    html
    {
        top: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header
    {
        justify-content: right;
        align-items: center;
        z-index: 999;
        height: fit-content;
    }

    @media screen and (orientation: portrait)
    {
        header
        {
            bottom: 0;
        }
    }

   

    html
    {
        background-color: rgb(235, 226, 213);
    }

</style>