---
import { Icon } from 'astro-icon/components'
const { path = "javascript:void(0)" } = Astro.props;
const { iconName = "#" } = Astro.props;
const {size = "25px"} = Astro.props;
const {buttonID = " "} = Astro.props;
---
     
<a href = {path} id={buttonID} class="navButton">
    <Icon class="navicon" size={size} name = {iconName} />
</a>

